<div class="popup-overlay"></div>


<div class="popup">
    <div class="close-button">
        <i class="fas fa-times"></i>
    </div>

    <div class="left">
        <img alt="newsletter form" src="https://images.unsplash.com/photo-1540638349517-3abd5afc5847?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80" srcset="">
    </div>
    <div class="right">

 <form action="https://gmail.us1.list-manage.com/subscribe/post?u=08f6f1ab1010ec991bbf5cb78&amp;id=cd330b19c9"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
        novalidate>            

            <h1 class="popup-title">New Here?</h1>
            <p>Receive 15% off your first order + be the first to know about new collections and promos when you
                                sign up
                                for our email list!</p>

            <input class="" id="mce-FNAME" name="FNAME" placeholder="First Name" type="text" value="">
            <input class="required email" id="mce-EMAIL" name="EMAIL" placeholder="Email" type="email" value="">
            <p>we might just want to wish you a Happy Birthay when the time is right....🙂</p>
            <div class="datefield birthday-inputs">
                <span class="subfield monthfield"><input class="birthday " id="mce-BIRTHDAY-month" maxlength="2" name="BIRTHDAY[month]" pattern="[0-9]*" placeholder="MM" size="2" type="text" value=""></span>
                /
                <span class="subfield dayfield"><input class="birthday " id="mce-BIRTHDAY-day" maxlength="2" name="BIRTHDAY[day]" pattern="[0-9]*" placeholder="DD" size="2" type="text" value=""></span>

            </div>
            <div class="clear" id="mce-responses">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <button class="sign-up" id="mc-embedded-subscribe" name="subscribe" type="submit">Sign me up!</button>
        </form>
        <!-- <h1 class="thankyou-message">Thank you for subscribing to our List!🙂</h1> -->
    </div>
</div>


<script src="popup.js"></script>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
<!--End mc_embed_signup-->