@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

/* section-1:header */


#header {
    padding: 0 210px;
}

.h-container {
    padding: 43px 50px;
}

.header-title {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: #111111;
}

.header-content {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 66px;
    color: #111111;
}

.readmore-btn {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    padding: 10px 30px;
    color: #111111;
    border-radius: 0;
    background-color: #f1c50e;
}

.img-container img {
    width: 100%;
    height: 100%;
    max-height: 574px;
}

/* section:about */
#about {
    background-color: #478ac9;
    padding: 30px 335px;
}

#about .row {
    /* background-color: brown; */
    padding: 30px 30px;
}

.about__title {
    font-family: Oswald, sans-serif;
    font-size: 48px;
    color: #f1c50e;
    line-height: 52.8px;
}

.para-text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
}

.about__hint {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #ffffff;
    line-height: 28px;
}

/* partnership:section */
#Partnerships {
    min-height: 400px;
    padding: 60px 78px;
}

#Partnerships h2 {
    font-family: Oswald, sans-serif;
    font-size: 48px;
    color: #f1c50e;
    line-height: 52.8px;
    margin-bottom: 23px;
}

#Partnerships p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 28.8px;
    margin-bottom: 20px;
}

p a {
    font-family: Oswald, sans-serif;
    text-decoration: none;
}

.Partnerships_box {
    padding: 46px 30px;
}

.image-container img {
    width: 100%;
    height: 100%;
}

/* team section */
#team {
    background-color: #478ac9;
    text-align: center;
}

.team-container {
    padding: 70px 133px;
}

.box-title {
    margin-bottom: 50px;
}

.box-title h1 {
    font-family: Oswald, sans-serif;
    font-size: 48px;
    line-height: 52.8px;
    color: white;
}

.box-title p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: white;
    width: 70%;
    margin: auto;
}

#team img {
    width: 100%;
    height: 100%;
    max-height: 279px;
}

.team__col {
    overflow: visible;
}

.team__card-text {
    background-color: #ffffff;
    position: relative;
    width: 80%;
    padding: 18px;
    margin: auto;
    bottom: 57px;
}

.team__card-text h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
}

.team__card-text h6 {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    color: #f1c50e;
}

.team__card-text p {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 25.6px;
}

/* caroussel */
.carousel-inner {
    background-color: #478ac9;
    margin-bottom: 67px;
}

.carousel-container {
    padding: 10px 50px;
}

/* .image-contain {
    height: 70%;
} */
.carousel-container img {
    width: 100%;
    height: 100%;
    max-height: 336px;
}

.carousel_box h1 {
    font-family: Oswald, sans-serif;
    font-size: 48px;
    line-height: 52.8px;
    color: white;
    margin-bottom: 40px;
}

.carousel_box p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: white;
    margin-bottom: 30px;
}

.carousel_box h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: white;
    margin-bottom: 20px;
}

.carousel-control-next,
.carousel-control-prev {
    /* width: 0%; */
    margin: 0;
    padding: 0;
    width: 5%;
    border: 50px;
    opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    /* width: 0%; */
    width: 3rem;
    height: 3rem;
}

/* parners sections */
#partners {
    text-align: center;
}

.partners__box-title {
    width: 50%;
    text-align: center;
    margin: auto;
}

#partners h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 52.8px;
    margin-bottom: 20px;
    color: #f1c50e;
}

#partners p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 70px;
    padding: 0px 50px;
}

#partners button {
    border: none;
    margin-top: 70px;
}

#partners .image-contain-p {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 37px;
}

/* extra large  */
@media (max-width: 1200px) {
    #header {
        padding: 0px 83px;
    }

    .h-container {
        padding: 43px 17px;
    }

    .header-content {
        font-size: 52px;
        line-height: 62px;
    }

    #about {
        padding: 30px 98px;
    }

    #Partnerships {
        background-color: #39308b;
        padding: 60px 78px;
    }

    /* team
     */
    .team-container {
        padding: 70px 1px;
    }

    .carousel-container {
        padding: 36px 50px;
    }

    .team__card-text {
        width: 91%;
        padding: 11px;
    }
}

/* large screen */
@media (max-width: 991px) {
    #header {
        padding: 0px 54px;
    }

    .header-content {
        font-size: 37px;
        line-height: 51px;
    }

    #about {
        padding: 30px 38px;
    }

    #Partnerships {
        padding: 60px 56px;
        background-color: burlywood;
    }

    #Partnerships h2 {
        font-size: 36px;
        color: #f1c50e;
    }

    .image-container {
        margin: 49px 0px;
    }

    .carousel-container {
        padding: 51px -2px;
    }

    .carousel_box {
        margin-top: 30px;
        text-align: center;
    }

    .carousel-container img {
        max-height: 500px;
    }

    .partners__box-title {
        width: 63%;
    }

    #partners p {
        padding: 0px 0px;
    }
}

/* medium screen:tablet */
@media (max-width: 767px) {
    .h-container {
        padding: 43px 9px;
    }

    .header-content {
        font-size: 26px;
        line-height: 38px;
    }

    .Partnerships_box {
        text-align: center !important;
    }

    .Partnerships_box p {
        text-align: center !important;
    }

    #Partnerships {
        background-color: #62a743;
    }

    #team img {
        width: 77%;
        max-height: 465px;
    }

    .team__card-text {
        padding: 21px;
        width: 68%;
    }
}

/* small devices */
@media (max-width: 575px) {
    #Partnerships {
        padding: 60px 16px;
    }

    #Partnerships {
        background-color: #dd85d6;
    }
}

/*# sourceMappingURL=convert.css.map */


.flexboox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}