<section class="big-header row">
    <div class="text-box col-6">
        <h1 class="top-space">Ahmed Ezzaouia - Vue Ecommerce Site built with VueJS and Bootstrap 5
        </h1>
        <p class="top-space">Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accumsan tincidunt. Donec
            rutrum congue leo eget malesuada. Vivamus suscipit </p>
        <button class="top-space"><a href="/collections/all">Explore</a></button>
    </div>
    <div class="image-wrapper  col-6">
        <img src="https://image.freepik.com/free-vector/happy-people-shopping-online_74855-5865.jpg" alt="" srcset="">
    </div>
</section>


{% schema %}
{
"presets": [
{
"category": "Custom Content",
"name": "Header"

}
]
}
{% endschema %}