 <!-- section: Partnerships -->

 <section id="Partnerships">
     <div class="row">
         <div class="col-lg-8 col-md-6 Partnerships_box">
             <h2>Results & Partnerships</h2>
             <p>We develop partnerships with leading companies and organizations from around the globe to complement
                 our expertise and deliver breakthrough results. We have long-lasting partnerships and affiliations
                 with like-minded organizations and leaders share our commitment to deliver lasting results.
             </p>
             <p>Image from <br /> <a href="#">Freepik</a> </p>

             <button class="btn readmore-btn">READ MORE</button>
         </div>
         <div class="col-lg-4 col-md-6 image-container  ">
             <img src={{'rfgd-min.jpg' | asset_url }}></img>

         </div>
     </div>
 </section>


 {% schema %}
 {
 "name": "Partnership",
 "settings": [

 ]
 }
 {% endschema %}

 