 <!-- about: section -->
 <div id="about">
     <!-- row 1: -->
     <div class="row">
         <div class="col-sm-6">
             <h2 class="about__title">About us</h2>
             <h5 class="about__hint">About our company history</h5>
         </div>
         <div class="col-sm-6">
             <p class="para-text">Sample text. Click to select the text box. Click again or double click to start
                 editing the text.
             </p>
         </div>
     </div>
     <!-- row 2: -->
     <div class="row">
         <div class="col-sm-6">
             <h2 class="about__title">What We Do</h2>
             <h5 class="about__hint">About our company history</h5>
         </div>
         <div class="col-sm-6">
             <p class="para-text">Sample text. Click to select the text box. Click again or double click to start
                 editing the text.
             </p>
         </div>
     </div>
     <!-- row 3: -->
     <div class="row">
         <div class="col-sm-6">
             <h2 class="about__title">Why Us</h2>
             <h5 class="about__hint">About our company history</h5>
         </div>
         <div class="col-sm-6">
             <p class="para-text">Sample text. Click to select the text box. Click again or double click to start
                 editing the text.
             </p>
         </div>
     </div>

 </div>


 {% schema %}
 {
 "name": "About",
 "settings": [

 ]
 }
 {% endschema %}

 {% stylesheet %}
 {% endstylesheet %}

 {% javascript %}
 {% endjavascript %}