<div class="container">
    <div class="big_image">
        <div class="text_container">
            <h2 class="text-white">About Us</h2>
            <p class="text-white">who we are</p>
        </div>
    </div>
    <!-- boxs of jobs -->
    <div class="row boxs_container">
        <div class="box_job col-md-12 col-lg-6">
            <h2 class="box_title">Our Vision</h2>
            <p class="box_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
                hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel,
                nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc
                tortor eu nibh.
            </p>
        </div>
        <div class="box_job col-md-12 col-lg-6">
            <h2 class="box_title">Our Mission</h2>
            <p class="box_description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
                hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel,
                nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc
                tortor eu nibh.
            </p>
        </div>
    </div>
    <!-- who we are  -->
    <div class="who_we_are">
        <h2 class="box_title top-spacing">Who We Are</h2>
        <p class="box_description top-spacing">Sed pretium, ligula sollicitudin laoreet viverra, tortor libero
            sodales leo, eget
            blandit nunc tortor eu nibh. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, uctus metus
            libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus.
            Praesent elementum hendrerit tortor. Sed semper lorem at felis.
        </p>
        <div class="image_container">
            <img class="top-spacing" src="https://d-themes.com/vue/molla/demo-2/images/about/about-2/img-1.jpg"
                alt="who we are">
        </div>

    </div>

    <!-- the world brands -->
    <div class="row world-brands">
        <div class="box_title col-lg-5 col-12">
            <div class="box_title-container">
                <h2 class="box_title">The world's premium design brands in one destination.</h2>
                <p class="box_description">Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In
                    nisi neque,
                    aliquet vel, dapibus id,
                    mattis vel, nis
                </p>
            </div>

        </div>
        <div class="box_brands col-lg-7 col-12">
            <div class="row">
                <div class="brand-item col-4">
                    <img src="https://d-themes.com/vue/molla/demo-2/images/brands/1.png" alt="">
                </div>
                <div class="brand-item col-4">
                    <img src="https://d-themes.com/vue/molla/demo-2/images/brands/2.png" alt="">
                </div>
                <div class="brand-item col-4">
                    <img src="https://d-themes.com/vue/molla/demo-2/images/brands/3.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="brand-item col-4">
                    <img src="https://d-themes.com/vue/molla/demo-2/images/brands/4.png" alt="">
                </div>
                <div class="brand-item col-4">
                    <img src="https://d-themes.com/vue/molla/demo-2/images/brands/5.png" alt="">
                </div>
                <div class="brand-item col-4">
                    <img src="https://d-themes.com/vue/molla/demo-2/images/brands/6.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="brand-item col-4">
                    <img src="https://d-themes.com/vue/molla/demo-2/images/brands/7.png" alt="">
                </div>
                <div class="brand-item col-4">
                    <img src="https://d-themes.com/vue/molla/demo-2/images/brands/8.png" alt="">
                </div>
                <div class="brand-item col-4">
                    <img src="https://d-themes.com/vue/molla/demo-2/images/brands/9.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- our team  -->
    <div class="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <h2><span class="ion-minus"></span>Our Team<span class="ion-minus"></span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus </p><br>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <img class="img-rounded" alt="team-photo"
                        src="https://images.pexels.com/photos/295821/pexels-photo-295821.jpeg?h=350&auto=compress&cs=tinysrgb"
                        width="100%">

                    <div class="team-member">
                        <h4>John Doe</h4>
                        <p>Web developer</p>
                    </div>

                    <p class="social">
                        <a href="#"><span class="fa fa-facebook-square"></span></a>
                        <a href="#"><span class="fa fa-twitter-square"></span></a>
                        <a href="#"><span class="fa fa-linkedin-square"></span></a>
                        <a href="#"><span class="fa fa-google-plus-square"></span></a>
                    </p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <img class="img-rounded" alt="team-photo"
                        src="https://images.pexels.com/photos/428333/pexels-photo-428333.jpeg?h=350&auto=compress&cs=tinysrgb"
                        width="100%">

                    <div class="team-member">
                        <h4>Jack Doe</h4>
                        <p>Web designer</p>
                    </div>

                    <p class="social">
                        <a href="#"><span class="fa fa-facebook-square"></span></a>
                        <a href="#"><span class="fa fa-twitter-square"></span></a>
                        <a href="#"><span class="fa fa-linkedin-square"></span></a>
                        <a href="#"><span class="fa fa-google-plus-square"></span></a>
                    </p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <img class="img-rounded" alt="team-photo"
                        src="https://images.pexels.com/photos/295821/pexels-photo-295821.jpeg?h=350&auto=compress&cs=tinysrgb"
                        width="100%">

                    <div class="team-member">
                        <h4>James</h4>
                        <p>CEO</p>
                    </div>

                    <p class="social">
                        <a href="#"><span class="fa fa-facebook-square"></span></a>
                        <a href="#"><span class="fa fa-twitter-square"></span></a>
                        <a href="#"><span class="fa fa-linkedin-square"></span></a>
                        <a href="#"><span class="fa fa-google-plus-square"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- customer reviews -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h2 class="box_title">What our Customer Say about Us </h2>
                <img src="https://d-themes.com/vue/molla/demo-2/img/user-2.e194c86.jpg" class="d-block w-100" alt="...">

                <p class="box_description top-spacing">Some representative placeholder content for the first
                    slide,Some
                    representative placeholder
                    content for the first slideSome representative placeholder content for the first slide. Some
                    representative placeholder content for the first slide</p>
                <h5>Ahmed Ezzaouia</h5>
                <p>Customer</p>
            </div>
            <div class="carousel-item ">
                <h2 class="box_title">What our Customer Say about Us </h2>
                <img src="https://d-themes.com/vue/molla/demo-2/img/user-1.babf258.jpg" class="d-block w-100" alt="...">

                <p class="box_description top-spacing">Some representative placeholder content for the first
                    slide,Some
                    representative placeholder
                    content for the first slideSome representative placeholder content for the first slide. Some
                    representative placeholder content for the first slide</p>
                <h5>Nabil Khotbi</h5>
                <p>Customer</p>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>